{% extends 'arrangement/base.html' %}
{% block title %} Справка {% endblock %}


{% block content %}

</br></br>
<div style="line-height: 1.5">
<strong>Статусы интервью (Статистика использования базы)</strong> отображает <strong>финальные</strong> статусы по базе контактов на текущий момент. Дата определяется по последней попытке соединения.</br>
<strong>Статусы звонков (Статистика дозвона)</strong> отображает статусы <strong>каждого</strong> звонка (попытки соединения). На одно интервью может быть несколько звонков (попыток соединения).</br>
</div>
{% endblock %}