@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

    #dialing_table {
      float: left;
      margin-top: 30px;
    }

}

@supports (-ms-ime-align:auto) {
    #dialing_table {
      float: left;
      margin-top: 30px;
    }
}